
mat-card {
    width:500px;
    background: rgba(255,255,255,0.9);
}

.mat-expansion-panel p {
    color: red;
    height: 50%;
    width:100%;
  }

.mat-expansion-panel .intro{
    background-color: yellow;
    height: 500%;
    width:100%;
}
.mat-expansion-panel{
    width: 100%;
    height: 50%;
}

mat-card-header {
    color: #3f3434;
}


mat-card-content {
    padding: 8px;
}

.fullBg {
    z-index:0;
    position: fixed;
    top: 0;
    left: 0;
}

body {
    font-family: Arial;
    color: white;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: #111;
}

.right {
    right: 0;
    background-color: red;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
