<body>
<div class="accordion">
  <ul>
    <li tabindex="1" (mouseenter) ="mouseEnter('div a') "  (mouseleave) ="mouseLeave('div A')">
      <div>
          <h1 *ngIf = "showA">About</h1>
        <div class="ref">
          <h2 *ngIf = "showB">About</h2>
          <p *ngIf = "showB">I'm a software developer and front-end developer along with Data Analyst skills, Masters graduate of computer science at the University of Dayton.
Apart from being a coder, You will find me cooking, library or working out in gym. I'm a recent graduate and looking for entry-level opportunities. 
Always enthustiastc about learing new skills and building up the knowledge. I'd love to interact with people.</p>
          </div>
      </div>
    </li>
    <li tabindex="2" (mouseenter) ="mouseEnter('div a') "  (mouseleave) ="mouseLeave('div A')">
      <div>
          <h1 *ngIf = "showA">Coder</h1>
        <div class="ref">
          <h2 *ngIf = "showB">Coder</h2>
          <p *ngIf = "showB">Body</p>
        </div>
      </div>
    </li>
    <li tabindex="3" (mouseenter) ="mouseEnter('div a') "  (mouseleave) ="mouseLeave('div A')">
      <div>
          <h1 *ngIf = "showA">Designer</h1>
        <div class="ref">
          <h2 *ngIf = "showB">Designer</h2>
          <p *ngIf = "showB">Body</p>
        </div>
      </div>
    </li>
  </ul>
</div>
</body>