<html>

<head>
</head>

<body>
  <mat-tab-group>
    <mat-tab label="Projects">
      <ul>

        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>JSCOMPILER</h2>
          <p>
            This is React framework based web application which allows user to compile the javascript and python scripts
            on the fly.
            This application is in starting stages. This application basically mimics the online compiers such as
            HackerRank, codepen.io etc. Hope you like my work.
            Framework: ReactJS, ExpressJS, NodeJS
            Languages: JavaScript
            Front-end: Styled-Components from @emotion/styled
            Back-end: NodeJS
            <br><br><a class="example_e" href="http://jscompiler.herokuapp.com" target="_blank"
              rel="nofollow noopener">See
              Project</a>
          </p>
        </li>

        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>OPT Form Filler</h2>
          <p>
            This is a spring framework based web application which will help you fill your OPT forms. When I was a
            graduate, we faced problems regarding filling the OPT forms. So we had decided to make that work easier by
            creating this web application.
            Framework: Sping-MVC
            Languages: Java, javaScript
            Front-end: HTML5, CSS., BootStrap
            Back-end: MySQL
            <br><br><a class="example_e" href="https://github.com/Kishore180994/OPT-Helper" target="_blank"
              rel="nofollow noopener">See
              Project</a>
          </p>
        </li>

        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>Portfolio</h2>
          <p>
            Presently at a last stage in developing my portfolio.
            Used Angular 6 as the front end and Angular Firebase as the back end.
            Used github.io in order to publish my portfolio.
            Link will be available soon.

            Future Implementations:
            To Implement THREE.js in angular JS to introduce 3D models. And also to provide VR feature.
            Also to use a-frames inside Angular.
            <br><br><a class="example_e" href="https://github.com/Kishore180994/Portfolio" target="_blank"
              rel="nofollow noopener">See
              Project</a>

          </p>
        </li>

        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>Maze generator using DFS</h2>
          <p>
            It's a web application where we can automatically generate a maze.
            Framework: VS Code
            Languages: Java, JavaScript, HTML, CSS
            <br><br><a class="example_e" href="https://github.com/Kishore180994/OPT-Helper" target="_blank"
              rel="nofollow noopener">See
              Project</a>
          </p>
        </li>

        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>Prevention of android repackaging attack using AspectJ Oriented Programming</h2>
          <p>
            Android is one of the most popular mobile operating systems in the world. It provides people with great
            convenience. And also It is prone to various security attacks. In this project, With the help of seed labs,
            I had performed a malicious code injection into a Google Play store application, where contacts will be
            deleted when you open this application. So in order to prevent this attack, I had added reference monitors
            to the application using AspectJ. This will detect the malicious code and notify the user about the attack.
            <br><br><a class="example_e" href="https://github.com/Kishore180994/Android-repackaging-attack"
              target="_blank" rel="nofollow noopener">See
              Project</a>
          </p>
        </li>

        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>WPF Based Game</h2>
          <p>
            Developed with WPF(.NET Framework) and C# Language. This game is named as Emperor, Slave and Citizen Card
            Game. This is the most fun game where your luck matters the most. In this game, User will be playing
            against AI. But in further future, I will be still developing to an extent where multiple users playing
            against each other.
            <br><br><a class="example_e" href="https://github.com/Kishore180994/EmperorKingSlave" target="_blank"
              rel="nofollow noopener">See
              Project</a>
          </p>
        </li>

        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>Custom Deep LearningNeural Netowrk inspired by AlexNet</h2>
          <p>
            Designed a deep learning neural network with a 16 layers including convolution neural network, Relu,
            Softmax and Average pooling for the image classification with the help of custom Data set of images
            collected by myself.
            Software used: MATLAB 2016.
            Inspiration: AlexNet.
            Accuracy: 85%
            <!-- <br><br><a class="example_e" href="https://github.com/Kishore180994/OPT-Helper" target="_blank"
              rel="nofollow noopener">See
              Project</a> -->
          </p>
        </li>

        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>Instant Messenger</h2>
          <p>
            The desktop application that allows a number of users to interact with each other using the Client/Server
            Mechanism. Front-end is developed using JavaFX.
            <br><br><a class="example_e" href="https://github.com/Kishore180994/Messenger-JavaFX" target="_blank"
              rel="nofollow noopener">See
              Project</a>
          </p>
        </li>

        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>Optical Character Recognition(OCR)</h2>
          <p>
            Handwritten Character recognition using Machine Learning algorithm on manual dataset with 95% accuracy
            implemented using MATLAB.
            <br><br><a class="example_e"
              href="https://github.com/Kishore180994/Handwrittern-Optical-Character-Recognition" target="_blank"
              rel="nofollow noopener">See
              Project</a>
          </p>
        </li>

        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>Red Black Trees</h2>
          <p>
            Implemented all the properties of Red-Black Trees using Java and JavaFX, such as Insertion and Deletion of
            nodes.
            <br><br><a class="example_e" href="https://github.com/Kishore180994/Red-Black-Trees" target="_blank"
              rel="nofollow noopener">See
              Project</a>
          </p>
        </li>

        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>College Notification System(Android Application)</h2>
          <p>
            This was considered as my Mini Project, Android application which will help to access College WebSites
            Instantly and also Receive Notifications Using GCM.
            <br><br><a class="example_e" href="https://github.com/Kishore180994/College-Notification-System-Android"
              target="_blank" rel="nofollow noopener">See
              Project</a>
          </p>
        </li>

        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>Endowment Assessment with Security Policies Performed</h2>
          <p>
            Web Tool that allows people to make donations and the organization to receive funds.
            This tool Includes three levels of profile permissions as to who can see and update the data – User
            profile, Database administrator profile and the application administrator profile.
            And Also this web application is free from all sorts of security attacks such as Session Hijacking, XSS to
            CSRF attacks and SQL injection attacks.
            *Technology used: HTML, Java, MySQL Server/Database and Java Servlets.
            *Software Used: Eclipse IDE, WAMP Server, Apache TOMCAT server.
            <br><br><a class="example_e" href="https://github.com/Kishore180994/Endowment-Assessment" target="_blank"
              rel="nofollow noopener">See
              Project</a>
          </p>
        </li>

        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>Information Retrieval through Human language processing</h2>
          <p>
            A Java based Natural Language processing software, whose work is to retrieve information from the database
            by resolving queries entered in natural language by the user.
            <br><br><a class="example_e"
              href="https://github.com/Kishore180994/Information-Retrieval-through-Human-language-processing"
              target="_blank" rel="nofollow noopener">See
              Project</a>
          </p>
        </li>
      </ul>
    </mat-tab>
    <mat-tab label="Publications">
      <h1>CS For All</h1>
      <p>...</p>
      <h1>Coding for virtual environment</h1>
      <p>...</p>
    </mat-tab>
  </mat-tab-group>
</body>

</html>